@{
    ViewData["Title"] = "Create ShortLink";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


<div class="border p-3 mt4">
    <div class="row pb-2">
        <h2 class="text-primary">
            Create ShortLink
        </h2>
        <br />
    </div>
</div>


<div class="row pt-4">
    <h4>Name</h4>
    <div class="col-md-6">
        <div class="form-outline">
            <input type="text" id="input-name" class="form-control" pattern=".{3,21}" title="ShortLink Name" spellcheck="false" placeholder="..." required/>
        </div>
    </div>
</div>



<div class="row pt-4">
    <div class="col-md-6">
        <div style="width: 50%; float: left;">
            <div class="ms-0 me-1">
                <h4>Private</h4>
                <div class="checkbox">
                    <input id="input-private" type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
        <div style="margin-left: 50%;">
            <div class="ms-1 me-0">
                <h4>Password Protected</h4>
                <div class="checkbox">
                    <input id="input-password-prot" type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row pt-4">
    <h4>Password</h4>
    <div class="col-md-6">
        <div class="form-outline">
            <input type="password" id="input-password" class="form-control" pattern=".{3,21}" title="ShortLink Password" spellcheck="false" placeholder="..." disabled/>
        </div>
    </div>
</div>

<div class="row pt-4">
    <div class="col-md-6">
        <div class="w-100 btn-group" role="group">
            <button type="button" id="submit-create" class="btn btn-success rounded text-start" style="width: 200px">
                <i class="bi bi-check-square"></i> &nbsp; Create ShortLink
            </button>
            <a type="button" asp-area="ShortLinks" asp-controller="Home" asp-action="Index"
                class="btn btn-primary rounded ms-2 me-0 text-start" style="width: 200px">
                <i class="bi bi-caret-left"></i> &nbsp; Back to overview
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>
        $(document).ready(function() {
            var input_shortlink_name = document.getElementById("input-name");
            var input_shortlink_critical = document.getElementById("input-critical");
            var input_shortlink_password_prot = document.getElementById("input-password-prot");
            var input_shortlink_password = document.getElementById("input-password");
            var submit_create = document.getElementById("submit-create");

            input_shortlink_password_prot.onchange = (data) => {
                input_shortlink_password.disabled = !data.target.checked;
            }

            submit_create.onclick = async (btndata) => { 
                await advancedPost(
                    "",
                    {
                        "Name": input_shortlink_name.value,
                        "Private": input_shortlink_critical.checked,
                        "PasswordProtected": input_shortlink_password_prot.checked,
                        "Password": input_shortlink_password.value
                    }
                )
            }
        });
    </script>
}