@{
    ViewData["Title"] = "ShortLinks";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=text-primary>Short Links</h2>
        </div>
        <div class="col-6 text-end">
            <div class="w-100 btn-group" role="group">
                <a asp-area="ShortLinks" asp-controller="Home" asp-action="Create" class="btn btn-primary rounded ms-1 me-0" style="display: inline-block">
                    <i class="bi bi-plus-square-dotted"></i> &nbsp; New Link
                </a>
            </div>
        </div>
    </div>
</div>
<br />