@using TheSKZWeb.Areas.Users.Models.Home.In
@model In_Register
@{
    ViewData["Title"] = "Registrieren";
}

<link rel="stylesheet" href="~/css/user_register.css" asp-append-version="true"/>


<div class="header">
    <div class="inner-header flex">
        <form method="post">
            <div class="border p-3 mt4">
                <div class="row pb-2">
                    <h2 class="text-primary"></h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="Username">Benutzername</label>
                    <input asp-for="Username" class="form-control" pattern=".{3,21}" title="Dein Benutzername" spellcheck="false" required/>
                </div>
                <div class="mb-3">
                    <label asp-for="Password">Passwort</label>
                    <input asp-for="Password" class="form-control" type="password" pattern=".{8,}" title="Dein Passwort" spellcheck="false" required/>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 150px">Registrieren&excl;</button>
            </div>
        </form>
    </div>
    <div>
        <svg 
        class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>
